.hero {
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 24em;
  display: flex;
  flex-direction: column;
}

.logo {
  /* align-items: left; */
  text-align: left;
  justify-content: center;
  display: flex;
  align-items: center;

}

.logoimg {
  height: 100px;
  width: 100px;

}

.description {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.descriptionBlock {
  padding: 2em;
  min-width: 200px;
  max-width: 300px;
}

@media (min-width: 800px) {
  .descriptionBlock {
    flex-grow: 1;
    flex-basis: 33%;
  }
}


.button {
  color: rgb(255,253,242);
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-color: rgb(233, 87, 63);
  background-image: linear-gradient(to bottom, rgb(244,94,83), rgb(231, 87, 78));
}
.button:hover {
  color: rgb(255,253,242);
  background-image: linear-gradient(to bottom, rgb(249,95,84), rgb(244, 94, 83));
}
