.hero {
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 12em;
}

.description {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  color: rgb(255,253,242);
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-color: rgb(233, 87, 63);
  background-image: linear-gradient(to bottom, rgb(244,94,83), rgb(231, 87, 78));
}
.button:hover {
  color: rgb(255,253,242);
  background-image: linear-gradient(to bottom, rgb(249,95,84), rgb(244, 94, 83));
}
