.hero {
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 12em;
}

.description {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button {
  color: white;
  background: black;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  background-image: linear-gradient(to bottom, grey, black);
}
.button:hover {
  background-image: linear-gradient(to bottom, white, grey);
}
